@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.swiper-pagination-bullet {
    background-color: white !important;
    opacity: 1;
}

.swiper-pagination {
    bottom: -5px !important;
}
