@tailwind base;
@tailwind components;
@tailwind utilities;

/* =============================================================== */

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* =============================================================== */

.swiper-pagination-bullet {
    background-color: silver !important;
    opacity: 1;
    width: 20px;
    border-radius: 10px;
}
.swiper-pagination-bullet-active {
    background-color: oklch(71% 0.194 13.428) !important;
}

.swiper {
    padding-bottom: 30px;
}

.swiper-pagination {
    bottom: -5px !important;
}

/* =============================================================== */

@keyframes pulseOpacity {
    0%,
    100% {
        opacity: 0.3;
    }
    50% {
        opacity: 1;
    }
}

.pulse {
    animation: pulseOpacity 0.8s ease-in-out infinite;
}

/* =============================================================== */

[data-name="Header"] .btn span:nth-child(2) {
    display: none;
}

@media (max-width: 450px) {
    [data-name="Header"] .btn span:nth-child(1) {
        display: none;
    }
    [data-name="Header"] .btn span:nth-child(2) {
        display: inline-block;
    }
}

/* =============================================================== */
